@charset "UTF-8";
form#fcontato{
width: 500px;
margin: auto;
font-weight: bold;
font-family: sans-serif;
}

p{
color: #444242;
}
textarea#cmsg{
    display: block;
    float: unset;
    margin-left: 30px;
}
legend{
    font-family: sans-serif;
    font-size: 18px;
    color: #b3b3b3; 
}
input,textarea{
    background-color: rgba(223, 219, 219, 0.3);
    color: #777171;
}
input:hover,textarea:hover{
    background-color: #d3d0d0;
    transition: 0.4s;
}
p#p1{
    border-bottom: 1px solid #333232;
    display: block;
    margin-bottom:0px;
    padding-bottom: 15px;
}
fieldset{
    margin: 20px;
    border-color:#b3b3b3; 
}
fieldset#sexo{
    width: 150px;
}
fieldset#id{
    background: url('../_imagens/icone-contato.png') no-repeat 95% 95%;
}
fieldset#endereco{
    background: url('../_imagens/icone-endereco.png') no-repeat 95% 95%;
}fieldset#mensagem{
    background: url('../_imagens/icone-mensagem.png') no-repeat 95% 95%;
}fieldset#quero{
    background: url('../_imagens/icone-pagamento.png') no-repeat 95% 95%;
}