@charset "UTF-8";
div#multi{
    width: 900px;
    height: 580px;
    margin:auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}
audio#audi{
    display: block;
    position: relative;
    top: 200px;
    left: 574px;
}video#vide{
    display: block;
    position: relative;
    width: 450px;
    height: 300px;
    top: 90px;
    left: 83px;
    margin: 0px;
    padding: 0px;   
}